body {
    background-color: beige;
    margin: 0;
    font-family: cursive;
    font-size: 14px;
}

.head-container {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline {
    font-family: cursive;
    margin-left: 30px;
}

.flag-english {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}

.flag-english:hover {
    transform: scale(1.1);
    cursor: pointer;
    /* 5 % größer beim Hover */
}

.flag-deutsch {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}

.flag-deutsch:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.flags {
    margin-right: 30px;
    padding: 10px;
}

.karten-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.karten {
    width: 460px;
    height: 460px;
    background-color: rgb(207, 207, 186);
    margin: 10px;
    padding: 10px;
}

.headline-karten {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-end: 0em;
    font-family: fantasy;
}

.p-text {
    font-family: cursive;
    margin-left: 8px;
    font-size: 14px;
}

.text-vertical {
    font-family: cursive;
    font-size: 14px;
    margin-right: 8px;
}

.text-horisontal {
    font-family: cursive;
    font-size: 14px;
    margin-block-start: 0.2em;
}

.vertical-linie-p-text {
    display: flex;
}

.horisontal-linie-p-text {
    height: 1px;
    background-color: black;
}

.vertical-linie {
    width: 1.5px;
    background-color: black;
    transition: opacity 0.3s ease;
}

.deckblatt {
    background-color: rgb(167, 167, 152);
    width: 460px;
    height: 408px;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.deckblatt1 {
    background-color: rgb(167, 167, 152);
    width: 460px;
    height: 408px;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.button-class {
    background-color: rgb(226, 226, 204);
    border-radius: 2px;
    border: none;
    height: 20px;
}

.button-class:hover {
    background-color: rgb(214, 214, 200);
}

.hidden {
    opacity: 0;
    pointer-events: none;
    /* deaktiviert Klicks, wenn versteckt */
}

.kartenClass {
    position: relative;
    /* sehr wichtig für das Deckblatt */
    width: 450px;
    height: 400px;
    background-color: rgb(245, 232, 190);
    margin: 8px;
    border: 1px solid rgb(192, 190, 190);
    border-radius: 4px;
    overflow: hidden;
    /* verhindert, dass Deckblatt rausläuft */
}

.titleClass {
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 8px;
}

.textverticalClass {
    margin-left: 8px;
    margin-right: 8px;
    width: 200px;
}

.ptexClass {
    position: relative;
    width: 400px;
    height: 280px;
    margin-left: 8px;
    margin-right: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    box-sizing: border-box;
    word-wrap: break-word;
}

.scrollable {
  word-wrap: break-word;   /* Lange Wörter umbrechen */
  box-sizing: border-box;  /* Padding und Border berücksichtigen */
}

.textsContainer {
    display: flex;
}

.deckblatClass {
    position: absolute;
    z-index: 2;
    background-color: rgb(187, 184, 184);
    width: 280px;
    height: 275px;
    transition: opacity 0.7s ease;
    opacity: 1;
    margin-left: 8px;
    border-radius: 4px;
}

.deckblatClass.hide {
    opacity: 0;
    /* langsam ausblenden */
    pointer-events: none;
    /* keine Klicks mehr */
}

.deckblattSmaller {
    position: absolute;
    z-index: 2;
    background-color: rgb(187, 184, 184);
    width: 141px;
    height: 274px;
    margin-left: 300px;
    transition: opacity 0.7s ease;
    opacity: 1;
    border-radius: 4px;
}

.deckblattSmaller.hide {
    opacity: 0;
    pointer-events: none;
}

.deckblattSmallest {
    position: absolute;
    z-index: 2;
    background-color: rgb(187, 184, 184);
    width: 434px;
    height: 76px;
    margin-top: 284px;
    margin-left: 8px;
    margin-right: 8px;
    transition: opacity 0.7s ease;
    opacity: 1;
    border-radius: 4px;
}

.deckblattSmallest.hide {
    opacity: 0;
    pointer-events: none
}

.textMinimalBelow {
    margin-top: 12px;
    padding-bottom: 12px;
    margin-left: 8px;
}

.linealvertikal {
    width: 1px;
    background-color: black;
}

.linealHorizontal {
    height: 1px;
    background-color: black;
    margin-left: 8px;
    margin-right: 8px;
}

.headContents {
    display: flex;
    justify-content: space-around;
}

.headContents {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.backClass {
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    text-decoration: underline 2px;
}

.backClass:hover {
    background-color: aliceblue;
    border-radius: 4px
}

.backClass2 {
    cursor: pointer;
    padding: 8px;
    text-decoration: underline 2px;
}

.backClass2:hover {
    background-color: aliceblue;
}

.backClass3 {
    cursor: pointer;
    padding: 8px;
    text-decoration: underline 2px;
}

.backClass3:hover {
    background-color: aliceblue;
}

.buttons {
    display: flex;
    align-items: center;
}

.seidMenu{
    background-color: yellow;
    width: 100px;
    height: 100%;
}