body {
    background-color: beige;
    margin: 0;
}

.head-container {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline {
    font-family: cursive;
    margin-left: 30px;
}

.flag-english {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}

.flag-english:hover {
    transform: scale(1.1);
    cursor: pointer;
    /* 5 % größer beim Hover */
}

.flag-deutsch {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}

.flag-deutsch:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.flags {
    margin-right: 30px;
    padding: 10px;
}

.karten-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.karten {
    width: 460px;
    height: 460px;
    background-color: rgb(207, 207, 186);
    margin: 10px;
    padding: 10px;
}

.headline-karten {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-end: 0em;
    font-family: fantasy;
}

.p-text {
    font-family: cursive;
    margin-left: 8px;
    font-size: 14px;
}

.text-vertical {
    font-family: cursive;
    font-size: 14px;
    margin-right: 8px;
}

.text-horisontal {
    font-family: cursive;
    font-size: 14px;
    margin-block-start: 0.2em;
}

.vertical-linie-p-text {
    display: flex;
}

.horisontal-linie-p-text {
    height: 1px;
    background-color: black;
}

.vertical-linie {
    width: 1.5px;
    background-color: black;
    transition: opacity 0.3s ease;
}

.deckblatt {
    background-color: rgb(167, 167, 152);
    width: 460px;
    height: 408px;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.deckblatt1 {
    background-color: rgb(167, 167, 152);
    width: 460px;
    height: 408px;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.button-class {
    background-color: rgb(226, 226, 204);
    border-radius: 2px;
    border: none;
    height: 20px;
}

.button-class:hover {
    background-color: rgb(214, 214, 200);
}

.hidden {
    opacity: 0;
    pointer-events: none;
    /* deaktiviert Klicks, wenn versteckt */
}

.kartenClass {
    width: 450px;
    height: 308px;
    background-color: rgb(245, 232, 190);
    margin: 8px;
    border: 1px solid rgb(192, 190, 190);
    border-radius: 4px;
}

.titleClass {
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 8px;
}

.textverticalClass {
    margin-left: 8px;
    margin-right: 8px;
    width: 200px;

}

.ptexClass {
    margin-left: 8px;
    margin-right: 8px;
    width: 470px;
}

.textsContainer {
    display: flex;
}

.deckblatClass {
    position: absolute;
    z-index: 2;
    background-color: rgb(187, 184, 184);
    width: 308px;
    height: 183px;
    transition: opacity 0.7s ease;
    opacity: 1;
}

.deckblatClass.hide {
    opacity: 0;
    /* langsam ausblenden */
    pointer-events: none;
    /* keine Klicks mehr */
}

.textMinimalBelow {
    margin-top: 12px;
    padding-bottom: 12px;
    margin-left: 8px;
}

.linealvertikal {
    width: 1px;
    background-color: black;
}

.linealHorizontal {
    height: 1px;
    background-color: black;
    margin-left: 8px;
    margin-right: 8px;
}

.headContents {
    display: flex;
    justify-content: space-around;
}

.headContents {
    display: flex;
    align-items: center;
}

.backClass {
    cursor: pointer;
}

.backClass:hover {
    background-color: aliceblue;
    border-radius: 4px
}

.openClass {
    cursor: pointer;
}

.openClass:hover {
    background-color: aliceblue;
    border-radius: 4px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}